body {
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
  width: 100vw;
  height: 100vh;

  background: rgb(2, 0, 36);
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(7%, #590100),
      color-stop(43%, #8f0401),
      color-stop(88%, #ff6801));
  background: -webkit-linear-gradient(left,
      #590100 7%,
      #8f0401 43%,
      #ff6801 88%);
  background: linear-gradient(90deg, #590100 7%, #8f0401 43%, #ff6801 88%);
  /* new change added */
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fa {
  color: white;
}

@media screen and (max-width: 600px) {
  .ui-resizable-handle {
    display: none;
  }
}

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url("/resize.png") !important;
  background-position: 0px 0px !important;
}